@using CaseloadManager.Helpers
@model CaseloadManager.Models.StudentIEPModel
<form id="CreateIEPForm">
<fieldset>
    <legend>Create IEP For @Model.StudentName</legend> 
    <dl>
        <dt>
            @Html.HiddenFor(m => m.StudentId)
            @Html.LabelFor(m => m.ScheduledDate)
        </dt>
        <dd>
            @Html.TextBoxFor(m => m.ScheduledDate)
        </dd>
        <dt>
            @Html.LabelFor(m => m.ScheduledDateTime)
        </dt>
        <dd>
            @Html.TextBoxFor(m => m.ScheduledDateTime)
        </dd>
        <dt>
            @Html.LabelFor(m => m.DateOfMeeting)
        </dt>
        <dd>
            @Html.TextBoxFor(m => m.DateOfMeeting)
        </dd>
        <dt>
            @Html.LabelFor(m => m.DateOfMeetingTime)
        </dt>
        <dd>
            @Html.TextBoxFor(m => m.DateOfMeetingTime)
        </dd>
        <dt>
            @Html.LabelFor(m => m.IsCurrent)
        </dt>
        <dd>
            @Html.CheckBoxFor(m => m.IsCurrent)
        </dd>
        <dt>
            @Html.LabelFor(m => m.IsComplete)
        </dt>
        <dd>
            @Html.CheckBoxFor(m => m.IsComplete)
        </dd>
        <dt>
            <button class="gray" id="saveIEP">
                Save</button>
        </dt>
        <dd id="postCreateIEPDD">
        </dd>
    </dl>
</fieldset>
</form>
 
<script type="text/javascript" src="../../Scripts/StudentIEP/Create.js?scriptVersion=@AppSettings.ScriptVersion"></script>